/* 
    Created on : Oct 15, 2014, 6:50:25 PM
    Author     : Michael
*/
a{
    text-decoration: none;
}
.list-item-1{
    background: #ffff00;
}
.list-item-2{
    background: #ffff66;
}
.list-item-3{
    background: #ffff99;
}
.list-item-4{
    background: #ffffcc;
}
.list-item-5{
    background: #ffffff;
}
.ui-corner-all{
    border-radius: 0px
}
.ui-button .ui-button-text{
    font-size: 13px;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 12px;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#c40a0a, #990000); 
    height: 50px;
    z-index: 1;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.content > *{
    flex-grow: 1;
}

.centered{
    margin: 0 auto; 
}
.ui-mobile-icon{
    width: 70px;
}
.logo {
    margin: 0 auto;
    display: table;
    font-size: 7vw;
    color: #0066ff;
}
.menu{
    margin: 0 auto;
}
.slide-menu{
    display: none;
    margin-top: 55px;
    background: #f9f9f9;
}
.slide-menu-item{
    font-size: 28px;
    color: #0066ff;
}
.page-header{
    margin-top: 55px;
    font-size: 40px;
    border-bottom: 1px solid dimgray;
}
.slide-menu-item-container{
    padding: 10px;
}
.slide-menu-item-container-hover{
    background: #e9e9e9;
}
@media screen and (max-width: 961px){
    .ui-desktop{
        display: none !important;
    }
}
@media screen and (min-width: 962px){
    .ui-mobile{
        display: none !important;
    }
}

